.table {
    border-collapse: collapse;
    width: 100%;
}

.table__caption {
    margin-top: 10px;
}

.table__cell {
    border: 1px outset blueviolet;
    color: rgb(33, 33, 33) or antiquewhite;
    padding: 5px;
    text-align: center;
}

.table__heading {
    background-color: rgba(137, 43, 226, 0.701);
    color: rgb(33, 33, 33);
}

.table__row:hover {
    background-color: rgba(137, 43, 226, 0.399);
}